{% extends "main.html" %}

{% block js %}
    <script src="{{ url_for('static', filename='db.js') }}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/style.css">
{% endblock %}

{% block body %}
    <div id="keyspaces">
        <h1>Keyspaces</h1>
        <ul>
            {% for keyspace in keyspaces %}
                <li>{{ keyspace }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="tables">
        <h1>Tables</h1>
        <ul>
            {% for table in tables %}
                <li>{{ table }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="context">
    	<div id="cql">                    
            <form class="inline-form" method="post" action="{{ url_for('query') }}">
                Query(CQL): <input type="text" name="cql" value="{{ cql }}">
                <input class="btn" type="submit" name="query", value="execute" >
                {% if page %}
                    <input class="btn" type="submit" name="next", value="next" >
                {% endif %}
            </form>
        </div>
        <div id="data">
            <p>{{ rows |length }} Rows - time: {{ query_time }}s</p>
            <table class='dbdata'>
                {% for row in rows %}
                <tr>
                    <tr>
                        {% for key in list_without_last(row.keys()) %}
                            <td>{{ key }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for value in list_without_last(row.values()) %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    <tr><td>value</td><td>row.get('value', '')</td></tr>
                   <!--  <a href="{{ url_for('edit', key=0) }}">Edit</a>
                    <form class="inline-form" method="post" action="{{ url_for('delete', key=0) }}">
                        <input class="btn" type="submit" name="delete", value="delete"
                        onclick="return confirm('Delete this row?')">
                    </form> -->
                </tr>
                {% endfor %}             
            </table>
    	</div>
    </div>
    <div id="footer"></div>
{% endblock %}
