{% extends "main.html" %}

{% block body %}
    <div class="backtop"><a href="javascript:scroll(0,0)">Top</a></div>
    <div class="db">
        <ul id="keyspaces" class="keyspaces">
            {% for keyspace in keyspaces.keys() %}
                <li><span class="caret">{{ keyspace }}</span>
                    <ul class="nested">
                    {% for table in keyspaces[keyspace] %}
                        <li>{{ table }}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <form class="inline-form" method="post" action="{{ url_for('query') }}">
                <input class="disconnect" type="submit" name="disconnect", value="Disconnect" >
        </form>
    </div>
    <div class="context">
        <div id="query">
            <form class="inline-form" method="post" action="{{ url_for('query') }}">
                Query(<a href="https://docs.datastax.com/en/cql-oss/3.3/" target="_blank">CQL</a>):
                <input class="cql", type="search" name="cql" value="{{ cql }}">
                <input class="cql" type="submit" name="query", value="execute" >
                {% if page %}
                    <input class="cql" type="submit" name="next", value="next" >
                {% endif %}
            </form>
        </div>
        <div id="data">
            <p>{{ rows | length }} Rows - time: {{ query_time }}s</p>
            <table>
                {% for row in rows %}
                    <tr>
                        {% for key in row %}
                            <th class="{{ key }}">{{ key }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for key in row %}
                            <td>{{ row[key] }}</td>
                        {% endfor %}
                    </tr>
<!--                     <tr>
                        <td>
                            <a href="{{ url_for('edit', key=0) }}">Edit</a>
                            <form class="inline-form" method="post" action="{{ url_for('delete', key=0) }}">
                                <input class="btn" type="submit" name="delete", value="delete"
                                onclick="return confirm('Delete this row?')">
                            </form>
                        </td>
                    </tr> -->
                {% endfor %}             
            </table>
    	</div>
    </div>
    <div class="footer"></div>

{% block js %}
    {{ super() }}
{% endblock %}

{% endblock %}
