{% extends "main.html" %}

{% block body %}
<div class="login">
    <form action="{{ url_for('db') }}" method="post">
    	<fieldset>
    		<legend>Cassandra</legend>
			<p>IP: <input type="text" name="ip" required /></p>
			<p>Port: <input type="text" name="port" value="9042" required /></p>
			<p>User: <input type="text" name="user" value="sdn" required /></p>
			<p>Password: <input type="text" name="password" value="sdncassandra" required /></p>

			<p><input type="checkbox" id="ssh" name="ssh" onchange="switchSSH(this.id)" /><label for="ssh">SSH</label></p>
			<div class="ssh_info" id="ssh_info">
				<p>IP: <input type="text" name ="ssh_ip" /></p>
				<p>User: <input type="text" name ="ssh_user" value="root" /></p>
				<p>Password: <input type="text" name ="ssh_password" value="cloudadmin" /></p>
			</div>
			<input type="submit" value="Connect" />
		</fieldset>
    </form>
</div>
{% endblock %}
