{% extends "main.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/style.css">
{% endblock %}

{% block body %}
    <H1>Cassandra</H1>
    <form class="login" action="{{ url_for('db') }}" method="post">
	<p>IP: <input type="text" name="ip" required /></p>
	<p>Port: <input type="text" name="port" value="9042" required /></p>
	<p>User: <input type="text" name="user" value="sdn" required /></p>
	<p>Password: <input type="text" name="password" value="sdncassandra" required /></p>

	<p><input type="checkbox" name="ssh" value="enabled" /><label for="ssh">SSH</label></p>
	<p>IP: <input type="text" name="ssh_ip" /></p>
	<p>User: <input type="text" name="ssh_user" value="root" /></p>
	<p>Password: <input type="text" name="ssh_password" value="cloudadmin" /></p>
	<input type="submit" value="Connect" />
    </form>
{% endblock %}
