.alert {
	background-color: #D0D184;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.login {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 30%;
  position: relative;
  left: 30%;
}

table {
	/*background-color: red;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: #ccc;*/
    border-collapse: collapse;
}

th, td {
    /*width: 50%;*/
    /*padding: 2px*/
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    overflow: visible;
}